POSTGRES_USER=plane
POSTGRES_PASSWORD=test
POSTGRES_DB=plane
PGDATA=/var/lib/postgresql/data

REDIS_HOST=plane-redis
REDIS_PORT=6379


LISTEN_HTTP_PORT=8080
LISTEN_HTTPS_PORT=8443

AWS_REGION=
AWS_ACCESS_KEY_ID=plane-access-key
AWS_SECRET_ACCESS_KEY=25V4ZjgDZ--e6BD9mKPIpsQy1zWFbHAy6cey3S28EVg
AWS_S3_ENDPOINT_URL=http://plane-minio:9000
AWS_S3_BUCKET_NAME=uploads
FILE_SIZE_LIMIT=5242880

DOCKERIZED=1
USE_MINIO=1


MINIO_ENDPOINT_SSL=0
API_KEY_RATE_LIMIT=60/minute


NETLIFY_TOKEN=nfp_fSrBwowRiDHdxo_ezi79bc1b
TRAEFIK_ACME_EMAIL=test@example.com

SECRET_KEY=nfp_fSrBwo_DHdxonds7GXffgazi79bc1b
DEBUG=true
API_PORT=8000

LIVE_BASE_URL=https://tool.test.com
LIVE_SERVER_SECRET_KEY=9U3p0WXzRnwgOgKctwLTPPznp4M-iPog